<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="/icon-192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon">
  <title><%= name %> Sending you Happy Holiday Greetings and Wishes</title>
  <meta property="og:description" content="Holiday Greetings and Wishes from <%= name %>.">
  <link rel="canonical" href="<%= seourl %>" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preload" href="/nt/nt?name=<%= slug %>" as="image">
  <style>
    .full-page {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .glow-text {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      text-shadow: 
        0 0 5px #ff007f, 
        0 0 10px #ff007f, 
        0 0 15px #ff007f, 
        0 0 20px #ff4d94, 
        0 0 25px #ff4d94, 
        0 0 30px #ff4d94, 
        0 0 35px #ff80b3;
      transition: all 0.3s ease;
    }
    .dark-mode .glow-text {
      color: #fff;
      text-shadow: 
        0 0 5px #3fd611, 
        0 0 10px #69e643, 
        0 0 15px #69e643, 
        0 0 20px #69e643, 
        0 0 25px #69e643, 
        0 0 30px #69e643, 
        0 0 35px #b5e495;
    }
    .download-url-button {
      padding: 12px 24px;
      font-family: "Anek Tamil", sans-serif;
      font-size: 15px;
      color: #2d3436;
      background: linear-gradient(to right, #f60, #fc0);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
    }
    img {
      position: relative;
      display: inline-block;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="full-page">
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <div class="toggle-container mb-6">
              <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider"></span>
              </label>
            </div>
            <h1 class="glow-text mb-6">🎄🎉🎁<br>Happy Holiday Wishes From <%= name %></h1>
                <figure class="image">
                  <img src="/nt/nt?name=<%= slug %>" alt="<%= name %>" loading="lazy">
                </figure>
            <div class="is-centered mt-6">
              <a class="download-url-button" href="/nt/nt?name=<%= slug %>" download="<%= slug %>">Download Image</a>
            </div>
            <div class="box is-centered mt-6">
              <p class="text-all mb-5">🎉 Create your Own Greeting Wishes</p>
              <a class="download-url-button" href="/">Create Now</a>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<script src="/js/theme.js"></script>
</body>
</html>